services:
  kratos-migrate:
    image: oryd/kratos:v1.2.0
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc
    volumes:
      - ./config/kratos:/etc/config/kratos
      - kratos-sqlite-data:/var/lib/sqlite
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    networks:
      - intranet
    restart: on-failure

  kratos:
    image: oryd/kratos:v1.2.0
    depends_on:
      - kratos-migrate
    ports:
      - "4433:4433" # Public API
      - "4434:4434" # Admin API
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc
    volumes:
      - ./config/kratos:/etc/config/kratos
      - kratos-sqlite-data:/var/lib/sqlite
    command: serve -c /etc/config/kratos/kratos.yml --dev
    networks:
      - intranet
  management-db:
    image: postgres:18-alpine
    environment:
      - POSTGRES_USER=management_admin
      - POSTGRES_PASSWORD=management_admin
      - POSTGRES_DB=management_db
    volumes:
      - management-db-data:/var/lib/postgresql
      - ./scripts/init-replication.sh:/docker-entrypoint-initdb.d/init-replication.sh
    command: postgres -c wal_level=replica -c max_wal_senders=10 -c max_replication_slots=10 -c listen_addresses='*'
    restart: on-failure
    ports:
      - "5433:5432"
    networks:
      - intranet

  management-db-replica:
    image: postgres:18-alpine
    user: root
    environment:
      - POSTGRES_PASSWORD=dummy_password
    depends_on:
      - management-db
    volumes:
      - management-db-replica-data:/var/lib/postgresql
    restart: on-failure
    ports:
      - "5434:5432"
    command: |
      bash -c "
      until pg_isready -h management-db -p 5432; do
        echo 'Waiting for primary database...'
        sleep 2
      done
      if [ ! -s \"/var/lib/postgresql/18/docker/PG_VERSION\" ]; then
        echo 'Bootstrapping replica...'
        mkdir -p /var/lib/postgresql/18/docker
        chown -R postgres:postgres /var/lib/postgresql
        rm -rf /var/lib/postgresql/18/docker/*
        su postgres -c 'pg_basebackup -h management-db -U replicator -D /var/lib/postgresql/18/docker -S replica_slot -X stream -P -R'
      fi
      exec docker-entrypoint.sh postgres
      "
    networks:
      - intranet

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - intranet

  clickhouse:
    image: clickhouse/clickhouse-server:25.12.5-alpine
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: default
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
      CLICKHOUSE_DB: analytics_db
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - ./migrations/clickhouse:/docker-entrypoint-initdb.d
    networks:
      - intranet

  broker:
    image: apache/kafka:4.2.0-rc4
    container_name: kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://127.0.0.1:9094
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_NUM_PARTITIONS: 2
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LOG_RETENTION_HOURS: 2
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

    ports:
      - "9092:9092"
      - "9094:9094"
    networks:
      - intranet

  management:
    build:
      context: ./services/management
    environment:
      - MANAGEMENT_DATABASE_URL=postgres://management_admin:management_admin@management-db:5432/management_db
      - PORT=8001
      - KAFKA_BROKER=broker:9092
    depends_on:
      - management-db
      - broker
    ports:
      - "8001:8001"
    networks:
      - intranet

  redirect:
    build:
      context: ./services/redirect
    environment:
      - PORT=3001
      - KAFKA_BROKERS=broker:9092
      - REDIS_URL=redis://redis:6379
      - REPLICA_DATABASE_URL=postgres://management_admin:management_admin@management-db-replica:5432/management_db
    depends_on:
      - broker
      - redis
      - management-db-replica
    ports:
      - "3001:3001"
    networks:
      - intranet

  analytics:
    build:
      context: .
      dockerfile: services/analytics/Dockerfile
    environment:
      - CLICKHOUSE_ADDR=clickhouse:9000
      - KAFKA_BROKERS=broker:9092
      - API_PORT=8080
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=default
      - CLICKHOUSE_DB=analytics_db
      - IP2GEO_ADDR=ip2geo:50051
      - USER_AGENT_ADDR=useragent:50052
      - MANAGEMENT_URL=http://management:8001
    depends_on:
      - clickhouse
      - broker
      - ip2geo
      - useragent
    networks:
      - intranet

  ip2geo:
    build:
      context: ./services/ip2geo
    environment:
      - PORT=50051
    ports:
      - "50051:50051"
    networks:
      - intranet

  useragent:
    build:
      context: ./services/user-agent
    environment:
      - PORT=50052
    ports:
      - "50052:50052"
    networks:
      - intranet

  web-ui:
    build:
      context: ./web-ui
    environment:
      - VITE_API_BASE_URL=http://localhost:4455/api
      - VITE_AUTH_URL=http://localhost:4455/auth
    ports:
      - "3000:3000"
    networks:
      - intranet

  oathkeeper:
    image: oryd/oathkeeper:v0.40.7
    depends_on:
      - kratos
    ports:
      - "4455:4455" # Proxy
      - "4456:4456" # API
    volumes:
      - ./config/oathkeeper/rules.json:/etc/config/oathkeeper/rules.json
      - ./config/oathkeeper/oathkeeper.yml:/etc/config/oathkeeper/oathkeeper.yml
    command: serve -c /etc/config/oathkeeper/oathkeeper.yml
    environment:
      - KRATOS_PUBLIC_URL=http://kratos:4433
    networks:
      - intranet

  security:
    build:
      context: ./services/security
    environment:
      - KAFKA_BROKERS=broker:9092
      - KAFKA_INPUT_TOPIC=alias.created
      - KAFKA_OUTPUT_TOPIC=alias.checked
      - KAFKA_GROUP_ID=security-worker
      - CONCURRENCY_LIMIT=20
    restart: on-failure
    depends_on:
      - broker
    networks:
      - intranet

  management-worker:
    build:
      context: ./services/management
    environment:
      - MANAGEMENT_DATABASE_URL=postgres://management_admin:management_admin@management-db:5432/management_db
      - KAFKA_BROKER=broker:9092
    command: bun run worker
    depends_on:
      - management-db
      - broker
    networks:
      - intranet

networks:
  intranet:

volumes:
  clickhouse-data:
  kratos-sqlite-data:
  management-db-data:
  management-db-replica-data:
