services:
  kratos-migrate:
    image: oryd/kratos:v1.2.0
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc
    volumes:
      - ./config/kratos:/etc/config/kratos
      - kratos-sqlite-data:/var/lib/sqlite
    command: -c /etc/config/kratos/kratos.yml migrate sql -e --yes
    networks:
      - intranet
    restart: on-failure

  kratos:
    image: oryd/kratos:v1.2.0
    depends_on:
      - kratos-migrate
    ports:
      - "4433:4433" # Public API
      - "4434:4434" # Admin API
    environment:
      - DSN=sqlite:///var/lib/sqlite/db.sqlite?_fk=true&mode=rwc
    volumes:
      - ./config/kratos:/etc/config/kratos
      - kratos-sqlite-data:/var/lib/sqlite
    command: serve -c /etc/config/kratos/kratos.yml --dev
    networks:
      - intranet

  kratos-selfservice-ui-node:
    image: oryd/kratos-selfservice-ui-node:v1.2.0
    environment:
      - KRATOS_PUBLIC_URL=http://kratos:4433
      - KRATOS_ADMIN_URL=http://kratos:4434
      - KRATOS_BROWSER_URL=http://localhost:4433
      - PORT=3000
      - COOKIE_SECRET=changeme-long-secret-12345
      - CSRF_COOKIE_NAME=ory_kratos_csrf
      - CSRF_COOKIE_SECRET=changeme-another-secret-67890
    ports:
      - "3000:3000"
    networks:
      - intranet

  management-db:
    image: postgres:18-alpine
    environment:
      - POSTGRES_USER=management_admin
      - POSTGRES_PASSWORD=management_admin
      - POSTGRES_DB=management_db
    volumes:
      - management-db-data:/var/lib/postgresql
    restart: on-failure
    ports:
      - "5433:5432"

networks:
  intranet:

volumes:
  kratos-sqlite-data:
  management-db-data:
