serve:
  proxy:
    port: 4455 # Port for incoming requests
    cors:
      enabled: true
      allowed_origins:
        - http://localhost:3000
      allowed_methods:
        - POST
        - GET
        - PUT
        - PATCH
        - DELETE
      allowed_headers:
        - Authorization
        - Content-Type
        - X-User-ID
      exposed_headers:
        - Content-Type
      allow_credentials: true
      debug: true
  api:
    port: 4456 # Port for management API

errors:
  fallback:
    - json

mutators:
  header:
    enabled: true
    config:
      headers:
        X-User-ID: '{{ print .Subject }}'
  noop:
    enabled: true

authorizers:
  allow:
    enabled: true
  deny:
    enabled: true

authenticators:
  noop:
    enabled: true
  anonymous:
    enabled: true
    config:
      subject: guest
  cookie_session:
    enabled: true
    config:
      check_session_url: http://kratos:4433/sessions/whoami
      preserve_path: true
      extra_from: "@this"
      subject_from: "identity.id"

log:
  level: debug
  format: json

access_rules:
  matching_strategy: glob
  repositories:
    - file:///etc/config/oathkeeper/rules.json
